{{data.setData}}
<div class="container">

  <form ng-if="data.show=='login'">
  <div class="form-group">
  <!-- <input type="hidden" name="CSRF" ng-model="data.setData.token" value="{{data.setData.token}}"> -->
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" class="form-control"  placeholder="Email" ng-model="data.setData.user">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" placeholder="Password" ng-model="data.setData.password">
    
  </div>
  <button type="submit" class="btn btn-default" ng-click="data.show='signUp'">Sign Up</button>
  <button type="submit" class="btn btn-default" ng-click="vm.dis()">Submit</button>
</form>
<!-- <input type="hidden" name="CSRF" ng-model="data.setData.token"> -->

  <form ng-if="data.show=='signUp'">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>